body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header,footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.boxFormulario {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}


input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*Interacción con los botones*/
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: hotpink;
    color:#333
}

input[type="submit"],
input[type="reset"]{
    font-weight: bold;
    color:white;
    background-color: #333;
}


footer a {
    color:hotpink;
}
